*{
  margin: 0;
  padding: 0;
  
  --home-background: #030303;
  --nav-background: #080808;
  --card-background: #0E0E10;
  --card-color:  rgba(255, 255, 255, 0.05); 

  --text-color1:  #fff;
  --text-color2:  #bbbbbb;

  --primary-color:  #42BB47;
  --coin-color: linear-gradient(90deg, #eccf5f 0%, #b79f41 59%, #eccf5f 100%);
}
a{
  user-select: none;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}


html{
  height: 100%;
}
body{
  background: var(--home-background);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}