*{
  margin: 0;
  padding: 0;
  
  --home-background: #030303;
  --nav-background: #080808;
  --card-background: #0E0E10;
  --card-color:  rgba(255, 255, 255, 0.05); 

  --text-color1:  #fff;
  --text-color2:  #bbbbbb;

  --primary-color:  #42BB47;
}
a{
  user-select: none;
  text-decoration: none;
}

html{
  height: 100%;
}
body{
  background: var(--home-background);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}