.textmain{
    width: 100%;
    height: 100%;
    background: url(../public/фонглавная1_4.png);
    background-size: cover;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
.content{
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    row-gap: 33px;
}
.greeting{
    font-size: 28px;
    font-weight: 600;
    color: #fff;
}
.balance{
    display: flex;
    flex-direction: column;
    row-gap: 7px;
}
.text1{
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color2);
}
.text2{
    font-size: 42px;
    font-weight: 600;
    color: var(--primary-color);
}
.btn{
    margin-top: 18px;
}
.btn a{
    padding: 16px 32px;
    border-radius: 1000px;
    background: var(--primary-color);
    font-size: 16px;
    font-weight: 600;
    color: var(--text-color1);

}

.user_name{
    color: var(--primary-color);
}